<h3>Diagnostic Reports</h3>

<ul id="DiagnosticReports">
  <li>
    <a id="EnrollmentReport" class="ptreportlink">Enrollment Report</a>
  </li>
  <li>
    <a id="MiscReport" class="ptreportlink">Miscellaneous Report</a>
  </li>
  <li>
    <a id="OrphanReport" class="ptreportlink">Orphaned Records Report</a>
  </li>
  <li>
    <a id="MaintReport" class="ptreportlink">Maintenance Report</a>
  </li>
  <li>
    <a id="SchoolNetReport" class="ptreportlink">SchoolNet Prep Report</a>
  </li>
</ul>

<h3>Settings</h3>

<ul id="Settings">
  <li>
    <a onclick="powerTools.loadPreferences();">Preferences</a>
  </li>
</ul>
<h3>
  <a href="#" target="_self" class="preference-g" id="EnrollmentDisplay">Enrollment Tools</a>
</h3>

<ul id="EnrollmentTools">
  <li>
    <h4 style="margin-left:0">School</h4>
  </li>
  <li>
    <a id="OverlappingSchool" class="ptreportlink">Overlapping Enrollments</a>
  </li>
  <li>
    <a class="ptreportlink" id="InvalidSchool">Reverse Enrollments</a>
  </li>
  <li>
    <a class="ptreportlink" id="PastPending">Pending Transfers</a>
  </li>
  <li>
    <a class="ptreportlink" id="FutureActiveSchool">Future Enrollments</a>
  </li>
  <li>
    <a class="ptreportlink" id="OutsideYTSchool">Enrollments Outside Y&T</a>
  </li>
  <li>
    <a class="ptreportlink" id="IncompleteTransfers">Incomplete Transfers</a>
  </li>
  <li>
    <a class="ptreportlink" id="InvalidTrack">Invalid Tracks</a>
  </li>
  <li>
    <a class="ptreportlink" id="PaddedSchoolEnrollments">Padded
      Enrollments</a>
  </li>
  <li>
    <a class="ptreportlink" id="MissingRace">Missing Race/Ethnicity</a>
  </li>
  <li>
    <h4 style="margin-left:0">Section</h4>
  </li>
  <li>
    <a class="ptreportlink" id="OverlappingCC">Overlapping Enrollments</a>
  </li>
  <li>
    <a class="ptreportlink" id="InvalidCC">Reverse Enrollments</a>
  </li>
  <li>
    <a class="ptreportlink" id="OutsideSchoolCC">Outside School</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupPeriodEnrollment">Duplicate Period CC's</a>
  </li>
  <li>
    <h4 style="margin-left:0">Special Program</h4>
  </li>
  <li>
    <a class="ptreportlink" id="OverlappingSpEnrollments">Overlapping Enrollments</a>
  </li>
  <li>
    <a class="ptreportlink" id="InvalidSpEnrollments">Reverse Enrollments</a>
  </li>
  <li>
    <a class="ptreportlink" id="OutsideSchoolSpEnrollments">Outside School</a>
  </li>
  <li>
    <a class="ptreportlink" id="SpEnrollmentBadGrade">Invalid Grade Levels</a>
  </li>
</ul>
<h3>
  <a href="#" target="_self" class="preference-g" id="MiscDisplay">Miscellaneous Tools</a>
</h3>

<ul id="MiscTools">
  <li>
    <h4 style="margin-left:0">Grading Tools</h4>
  </li>
  <li>
    <a class="ptreportlink" id="BlankStoredGrades">Blank Stored Grades</a>
  </li>
  <li>
    <a class="ptreportlink" id="GradeScaleDupCutoff">Dup. Grade Scale Cutoff</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupStoredGrades">Duplicate Stored Grades</a>
  </li>
  <li>
    <a class="ptreportlink" id="IncorrectStoredGrades">Incorrect Stored Grades</a>
  </li>
  <li>
    <a class="ptreportlink" id="StdConversionLongGrade">Long Standard Grade</a>
  </li>
  <li>
    <a class="ptreportlink" id="MisalignedStandards">Misaligned Standards</a>
  </li>
  <li>
    <h4 style="margin-left:0">Attendance Tools</h4>
  </li>
  <li>
    <a class="ptreportlink" id="DupAttendance">Duplicate Attendance</a>
  </li>
  <li>
    <a class="ptreportlink" id="NonInSessionAttendance">Non-session Attendance</a>
  </li>
  <li>
    <a class="ptreportlink" id="MissingFTEStudent">Students with no FTE's</a>
  </li>
  <li>
    <h4 style="margin-left:0">Scheduling Tools</h4>
  </li>
  <li>
    <a class="ptreportlink" id="IncompleteSched">Incomplete Setup</a>
  </li>
  <li>
    <a class="ptreportlink" id="SectionInvalidSM">Sections w/o Expression</a>
  </li>
  <li>

    <h4 style="margin-left:0">Transaction Tools</h4>
  </li>
  <li>
    <a class="ptreportlink" id="InvalidLunch">Invalid Meals</a>
  </li>
  <li>
    <a class="ptreportlink" id="IncorrectLunchBal">Incorrect Lunch Balances</a>
  </li>
  <li>

    <h4 style="margin-left:0">Reports Tools</h4>
  </li>
  <li>
    <a class="ptreportlink" id="ReportsWithSpaces">Reports with Spaces</a>
  </li>
  <li>
    <h4 style="margin-left:0">School Setup Tools</h4>
  </li>
  <li>
    <a class="ptreportlink" id="ActivitiesWithSpaces">Activities with Spaces</a>
  </li>
  <li>
    <a class="ptreportlink" id="CalendarIssues">Calendar Issues</a>
  </li>
  <li>
    <a class="ptreportlink" id="CourseGroupsWithSpaces">Course Groups w/ Spaces</a>
  </li>
</ul>
<h3>
  <a href="#" target="_self" class="preference-g" id="OrphanDisplay">Orphan Record Tools</a>
</h3>

<ul id="OrphanTools">
  <li>
    <a class="ptreportlink" id="OrphanedAttendance">Attendance</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedAttendanceTime">Attendance Time</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedCC">CC</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedFeeTransaction">Fee_Transactions</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedHonorRoll">HonorRoll</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedPGFinalGrades">PGFinalGrades</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedReenrollments">Reenrollments</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedSchoolCourse">School_Courses</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedSection">Sections</a>
  </li>
  <!--
  <li>
    <a class="ptreportlink" id="OrphanedSectionTeacher">SectionTeacher</a>
  </li>
  -->
  <li>
    <a class="ptreportlink" id="OrphanedSpEnrollments">Special Programs</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedStandardsGrades">Standards Grades</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedStoredGrades">Stored Grades</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedStudentRace">Student Race</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedStudents">Students</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedStudentTestScore">Student Test Scores</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedTeacherRace">Teacher Race</a>
  </li>
  <li>
    <a class="ptreportlink" id="OrphanedTermBins">Termbins</a>
  </li>
</ul>
<h3>
  <a href="#" target="_self" class="preference-g" id="MaintDisplay">Maintenance Tools</a>
</h3>

<ul id="MaintTools">
  <h4 style="margin-left:0">Duplicate Records</h4>

  <li>
    <a class="ptreportlink" id="DupAttendanceCode">Att. Codes</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupAttendanceConversion">Att. Conversion</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupBellSchedule">Bell Schedules</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupBellScheduleItems">Bell Schedule Items</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupCalendarDay">Calendar Days</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupCourseNumbers">Course Numbers</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupDays">Cycle Days</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupEntryCodes">Entry Codes</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupExitCodes">Exit Codes</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupFTE">FTE's</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupGen">Gen Records</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupPeriodNumber">Periods</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupPrefs">Preferences</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupServerConfig">Server Config</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupServerInstance">Server Instance</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupStudentID">Student ID</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupStudentNumber">Student Number</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupTeacherNumber">Teacher Number</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupTermBins">Termbins</a>
  </li>
  <li>
    <a class="ptreportlink" id="DupTerms">Terms</a>
  </li>
  <li>
    <h4 style="margin-left:0">Invalid Course Numbers</h4>
  </li>
  <li>
    <a class="ptreportlink" id="InvCourseNumberCC">CC Records</a>
  </li>
  <li>
    <h4 style="margin-left:0">Miscellaneous</h4>
  </li>
  <li>
    <a class="ptreportlink" id="IncorrectStudYear">Incorrect StudYear</a>
  </li>
  <li>
    <a class="ptreportlink" id="OverlappingTerms">Overlapping Terms</a>
  </li>
  <li>
    <a class="ptreportlink" id="StudentNumberIssue">Student No. Too High</a>
  </li>
</ul>
<h3>
  <a href="#" target="_self" class="preference-g" id="SchoolNetDisplay">SchoolNet Tools</a>
</h3>

<ul id="SchoolNetTools">
  <li>
    <a class="ptreportlink" id="AttendanceOverview">Attendance Overview</a>
  </li>
  <li>
    <a class="ptreportlink" id="PossibleDupStudents">Dup. Students</a>
  </li>
  <li>
    <a class="ptreportlink" id="PossibleDupTeachers">Dup. Teachers</a>
  </li>
  <li>
    <a class="ptreportlink" id="FutureDiscipline">Future Log Entries</a>
  </li>
  <li>
    <a class="ptreportlink" id="FutureIncidents">Future Incidents</a>
  </li>
</ul>